#cuerpo{

    background-color: black;

}
#encabezado{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 5%;
}
#contenedor{

    width: 50%;
	margin-top: 5%;
	margin-left: 25%;
}

#tabla{

    width: 100%;
}

.btn-primary {
    width: 100%;
}
